/* header */
.header {
    /* background-color: antiquewhite; */
    /* position: fixed; */
    display: flex;
    justify-content: center;
    
}

.header .container {
    background-color: white;
    position: fixed;
    padding: 20px 30px;
    border-radius: 40px;
    margin-top:30px;
    box-shadow: 0 0 15px rgba(0, 0, 0,0.1);
    z-index: 1000;
}

.header .logo {
    width: 180px;
}

.header img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header .navigation-pane {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:0;
}

.header .navigation-pane li {
    margin-left: 40px;
}

.header .navigation-pane .bars {
    display:none;
    font-size: 30px;
    margin-right: 20px;
}

@media (max-width: 992px){
    .header .navigation-pane .nav {
        display:none;
    }   
    .header .navigation-pane .bars {
        display:block;
    }
}


.header .inner-header {
    display:flex;
    justify-content: space-between;
}



/* end of header */

/* home */
.home {
    background-image: url('../picture/banner-bg.png');
    background-size:cover ;
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    max-width: 580px;
}

.home .container h3 {
    font-size: 35px;
    font-weight: 450;
    margin-bottom: 50px;
}

.home .container p {
    margin-bottom: 40px;
}



/* end of home */

/* section 1 */
.section-1{
    margin-top: -150px;
}

.section-1 .inner-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 17px;
}

.section-1 .inner-icon {
    background-color: var(--color-3);
    display:inline-flex;
    /* padding: 10px; */
    /* margin:10px; */
    border-radius: 50%;
    /* margin: 0 auto; */
    margin-bottom: 30px;
}

.section-1 .inner-icon:hover{
    background-color: var(--color-4);
}

.section-1 .inner-content h3 {
    font-size: 20px;
    font-weight: 400px;
    margin-bottom: 20px;
}

.section-1 .inner-content p {
    font-size: 15px;
    color: var(--color-5);
    
}

.section-1 .inner-box {
    text-align: center;
    box-shadow:  0 2px 48px 0 rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    padding: 30px 30px;
    background-color: white;
    /* top: -400px; */
    margin-bottom: 30px;
}


@media (max-width: 992px){
    .section-1{
        margin-top: 0;
    }
}

/* end of section 1 */


/* about */
.about{
    margin: 100px 0;
}

.about img {
    width:100%;
    height: 100%;
    object-fit: contain;
}

.about .inner-img {
    width: 300px;
    margin: 0 auto;
}

.about .inner-content h3 {
    margin-bottom :40px;
    font-weight: 400;
    font-size:24px;
}

.about .inner-content p {
    color:var(--color-5);
}

.about .upper {
    padding-bottom: 100px;
    margin-bottom: 80px;
    border-bottom: 1px solid #ddd;
}

.about .inner-content{
    margin-right: 100px;
}

@media (max-width: 768px){
    .about .inner-content {
        text-align: center;
        margin-right: 0;
    }

    .about .top{
        margin-top: 20px;
    }

    .about .bot{
        margin-bottom: 20px;
    }
}

/* end of about */

/* work process */
.work-process {
    background: url(../picture/work-process-bg.png);
    background-position: center center;
    background-size:cover ;
    background-repeat: no-repeat ;
    padding: 100px 0;
}

.work-process .inner-head {
    color :white;
    text-align: center;
    max-width: 550px;
    margin: 0 auto;
}

.work-process .inner-img {
    margin-bottom: 20px;
}

.work-process .inner-head h2 {
    margin-bottom: 30px;
    font-weight: 450;
}

.work-process .inner-head p {
    margin-bottom: 40px;
}

.work-process .inner-box {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    position:relative;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    display: block;
    z-index: 1;
    transition: all 0.3s ease;
    margin-bottom:30px;
}

.work-process .inner-box:hover{
    transform: translate(0,-10px);
    transition: all 1s ease 0;
}


.work-process .inner-box::before{
    content: '';
    position: absolute;
    background-color: white;
    opacity: 0.3;
    width:100%;
    height:100%;
    top:10px;
    left:10px;
    border-radius: 20px;
    z-index: -1;
}

.work-process .inner-box h3 {
    font-size: 18px;
    font-weight: 400;
}

.work-process .inner-box p {
    font-size: 14px;
    font-weight: 400;
    color:var(--color-5);
}

/* end of work process */

/* testimonials */
.testimonials {
    margin: 100px 0;
}

.testimonials .inner-head {
    text-align: center;
    max-width: 510px;
    margin: 0 auto;
}

.testimonials .inner-head h2 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 30px;
}

.testimonials .inner-head p {
    color: var(--color-5);
    margin-bottom: 50px;
    /* box-shadow: 0 0 48px rgb(0 , 0 , 0, 0.05) ; */
}

.testimonials .inner-box {
    box-shadow: 0 2px 48px rgb(0 , 0 , 0, 0.08);
    padding: 35px 35px;
    border-radius: 20px;
    height: 300px;
    margin-bottom: 30px;
}

.testimonials .inner-box .inner-icon{
    text-align: center;
    margin-bottom: 30px;
}

.testimonials .inner-box .inner-content p{
    color: var(--color-5);
    margin-bottom: 30px;
}

.testimonials .inner-box .inner-trans h3 {
    font-size: 18px;
    font-weight: 400;
}

.testimonials .inner-box .inner-trans h4 {
    font-size: 16px;
    font-weight: 350;
    color: var(--color-4);
}

.testimonials .inner-box .inner-trans {
    margin-left: 70px;
    transition: all 0.3s ease;
}

.testimonials .inner-box .inner-trans:hover{
    transform:translateX(10px);
}
/* end of testimonials */

/* pricing tables */
.pricing-tables {
    padding: 100px 0;
    background-color: var(--color-1);
}

.pricing-tables .inner-head {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

.pricing-tables .inner-head h2 {
    margin-bottom: 25px;
    font-weight: 400;
}

.pricing-tables .inner-head p {
    color: var(--color-5);
    margin-bottom: 50px;
}

.pricing-tables .inner-box {
    background-color: white;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 2px 48px rgba(0, 0, 0,0.1);
    text-align: center;
    padding: 40px;
    margin-bottom: 30px;
}

.pricing-tables .inner-box .inner-title h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.pricing-tables .inner-box .inner-price {
    background-color: var(--color-3);
    height: 90px;
    border-radius: 15px;
    color: white;
    margin-bottom: 30px;
}

.pricing-tables .inner-box .inner-price h4 {
    padding: 18px 0 0 0 ;
    margin: 0;
}

.pricing-tables .inner-box .inner-price p {
    
    margin: 5px 0 0 0 ;
}

.pricing-tables .inner-box .middle {
    background-color: var(--color-4);
}

.pricing-tables .inner-box .inner-desc {
    color: var(--color-5);
} 

.pricing-tables .inner-box ul {
    padding:0;
}

.pricing-tables .inner-box li {
    list-style-type: none;
    font-size: 14px;
    font-weight: 200px;
    margin-top: 10px;
}

.pricing-tables .inner-box .inner-button {
    margin-top: 40px;
}
.pricing-tables .inner-box .inner-button button {
    background-color: var(--color-3);
}

.pricing-tables .inner-box .inner-button button:hover {
    background-color: var(--color-4);
}
/* end of pricing tables */

/* section 2 */
.section-2{
    background: url(../picture/fun-facts-bg.png);
    background-position: center center;
    background-size: cover;
    padding: 100px 0;
    color:white;
    text-align: center;
}

.section-2 .inner-box {
    position:relative;
}

.section-2 .inner-box h4 {
    font-size: 30px;
    font-weight: 700;
}

.section-2 .inner-box h5 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}
.section-2 .item1::before,.section-2 .item3::before{
    content: "";
    background: url(../picture/circle-dec.png);
    display:block;
    left: 85%;
    top: 35px;
    width: 80px;
    height:20px;
    background-repeat: no-repeat ;
    background-position:center;
    background-size: contain;
    position:absolute;
} 



.section-2 .item2::before{
    content: "";
    background: url(../picture/circle-dec.png);
    display:block;
    left: 85%;
    top: 20px;
    width: 80px;
    height:20px;
    background-repeat: no-repeat ;
    background-position:center;
    background-size: contain;
    position:absolute;
}

@media(max-width:992px){
    .section-2 .item2::before{
        display:none;
    }
    .section-2 .inner-box{
        margin-bottom:30px;
    }
}

@media(max-width:576px){
    .section-2 .item1::before,.section-2 .item3::before{
        display:none;
    }
    
}


/* end of section 2 */

/* blog entries */
.blog-entries{
    margin: 100px 0;
}

.blog-entries .inner-head {
    text-align: center;
    margin: 0 auto;
    max-width: 510px;
}

.blog-entries .inner-head h3{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 400;
}

.blog-entries .inner-head p{
    margin-bottom: 40px;
    color: var(--color-5);
}

.blog-entries .inner-box {
    width: 97%;
    text-align: center;
    margin-bottom: 40px;
}

.blog-entries .inner-box .inner-content h4 {
    margin: 25px 0;
    font-size: 20px;
    font-weight: 400;
}

.blog-entries .inner-box .inner-content p {
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-5);
}


.blog-entries .inner-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.blog-entries .inner-box .inner-button button{
    background-color: var(--color-3);
    width: 130px;
}

.blog-entries .inner-box .inner-button button:hover{
    background-color: var(--color-4);
}

/* end of blog entries */

/* contact us */
.contact-us {
    padding: 100px 0;
    background-color: var(--color-1);
}

.contact-us .inner-head {
    text-align: center;
    margin: 0 auto;
    max-width: 510px;
}

.contact-us .inner-head h3{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 400;
}

.contact-us .inner-head p{
    margin-bottom: 40px;
    color: var(--color-5);
}

.contact-us .inner-content h4 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.contact-us .inner-content p {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
    color: var(--color-5);

}

.contact-us input {
    width: 96%;
    padding-left: 20px;
    height: 45px;
    border-radius: 45px;
}

.contact-us .main-info {
    margin-bottom: 30px;
}

.contact-us textarea {
    width: 100%;
    height: 140px;
    border-radius: 20px;
    padding: 15px 0 0 20px;
}

.contact-us .text-area {
    margin: 0 10px 20px 0;
}

.contact-us .submit {
    background-color: var(--color-3);
    width: 150px;
    text-align: center;
    padding: 0 0;
}

.contact-us .submit:hover{
    background-color: var(--color-4);
}

@media(max-width:992px){
    .contact-us .name {
        margin-bottom: 30px;
    }
}
@media(max-width: 768px){
    .contact-us .submit-container {
        text-align: center;
    }
}

/* end of contact us */

/* footer */
.footer {
    background: radial-gradient(circle at center, #855BF1,#9169f6 );
}

.footer .icons {
    display:flex;
    justify-content: center;
    border-bottom: 0.05px solid #bfbfbf92;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.footer .icon-container i{
    background-color: white;
    width: 36px;
    height: 36px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--color-3);
    margin: 40px 10px 0 10px;
}

.footer .icon-container i:hover{
    background-color: var(--color-4);
    color: white;
}

.footer .copyright {
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 20px;
}

/* end of footer */


